.not-found-container {
  background-image: url("../../assets/404.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e2dee8;
  min-height: 100vh;
}
