.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fcf1de;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  color: #0f5159;

  > div {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    padding: 0 0.7rem;
  }

  .nav-link {
    color: #0f5159;
    text-decoration: none;
    margin: 0 0.5rem;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: #c06187;
    }
  }
}
