.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcf1de;
  font-weight: 500;
  margin: 0;
  padding: 0.25rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 6vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: 100%;

  .logo {
    height: 100%;
    width: auto;
    object-fit: contain;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.nav-link {
  text-decoration: none;
  color: #0f5159;
  font-size: 1.2rem;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-link:hover {
  color: #c06187;
  transform: scale(0.95);
  cursor: pointer;
  transition: 0.2s ease-in;
}

.fa-cart-shopping {
  font-size: 1.5rem;
}
