body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Raleway", "Cormorant";
  background-color: #c7d7c5;
}

#root > .app-content {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #eee;
}

.footer {
  background: #eee;
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
